#about{
    width: 90vw;
    padding: 70px 5vw 250px 5vw;
    display: flex;
    background-color: #f9f9f9;
}


#about_header{
    padding: 50px 0;
}
#about_header header{
    font-size: 8em;
    text-align: center;
}

#about_text{
    width: 45%;
    padding-right: 5%;
    font-family: var(--cabin-ver);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#about_text header{
    font-size: 7em;
    font-weight: 700;
    line-height: 115%;
    margin-bottom: 40px;
}

#about_text p{
    font-size: 3.4em;
    color: var(--txt-soft);
    line-height: 160%;
    margin-bottom: 5px;
}


#about_img{
    width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}

#about_img_frame{
    /* width: 100%; */
    height: 100%;
}
#about_img_frame img{
    min-height: 300px;
    border-radius: 9px;
}


#about_action{
    margin-top: 50px;
}

@media (max-width: 550px) {
    #about{
        width: 100vw;
        padding-left: 0vw;
        padding-right: 0vw;
        flex-direction: column-reverse;
    }
    #about_text{
        width: 80%;
        padding: 0 10%;
    }
    #about_text header{
        margin-bottom: 25px;
        font-size: 5.5em;
        line-height: 150%;
    }
    #about_text p{
        width: 100%;
        font-size: 3em;
        line-height: 180%;
    }

    #about_img{
        width: 100%;
        margin-bottom: 60px;
    }
    #about_img_frame{
        width: 100%;
        border-radius: 0px;
    }
}