#contact{
    width: 90vw;
    padding: 100px 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: var(--su-bg);
    margin-bottom: 150px;
    z-index: 2;
}

#contact .information_header{
    width: 100%;
    padding: 0 0 40px 0;
    color: var(--ma-bg);
}

#contact_phone_frame{
    width: fit-content;
    height: fit-content;
    padding: 50px 0;
    display: flex;
    justify-content: left;
    align-items: center;
}



#contact_phone{
    position: relative;
    max-width: 95vw;
    width: 300px;
    height: 80vh;
    min-height: 500px;
    max-height: 570px;
    border: 3px #000 solid;
    background: url(https://static.vecteezy.com/system/resources/previews/030/464/195/large_2x/central-cpu-concept-circuit-board-digital-chip-on-motherboard-forms-tech-background-vertical-mobile-wallpaper-ai-generated-free-photo.jpg) no-repeat;
    background-size: cover;
    border-radius: 13px;
    overflow: hidden;
    display: flex;
}
#contact_phone_bezel{
    position: absolute;
    width: 96%;
    padding: 0 2%;
    height: 20px;
    background-color: #00000033;
    color: #fff;
    top: 0;
    left: 0%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 5;
}
#contact_phone_bezel p{
    font-size: 9px;
}
#contact_phone_bezel ion-icon{
    font-size: 13px;
    margin-left: 4px;
    margin-right: 2px;
}
#contact_phone_app{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 4;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact_phone_app div{
    width: 90%;
    padding: 10px 0%;
    margin: 0 5% 5px 5%;
}
#contact_phone_app p{
    font-size: 3.2em;
    text-align: center;
}
#contact_phone_app button{
    border: none;
}
#contact_phone_app .action_button{
    padding: 8px 15px;
    margin-top: 10px;
}
#contact_phone_app header{
    font-size: 3.5em;
}
#contact_phone_app p{
    font-size: 3em;
}
#contact_phone_buttons{
    position: absolute;
    width: 100%;
    height: 30px;
    display: flex;
    bottom: 0;
    z-index: 6;
    color: #fff;
    background-color: #00000033;
}


.contact_phone_buttons_item{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contact_phone_buttons_item ion-icon{
    font-size: 3em;
}
#contact_phone_cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000044;
    z-index: 3;
}

.phone_div{
    width: 90%;
    height: 100%;
    padding: 25px 5%;
    z-index: 4;
}

#phone_home{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: start;
    padding-top: 30px;
}

.phone_home_item{
    width: 25%;
    height: 66px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.phone_home_item img{
    width: 75%;
    height: 75%;
    object-fit: contain;
}


#contact_form{
    width: 50%;
    
    padding-top: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 10px 0px 10px;
    /* border: 1px #000 solid; */
    box-shadow: 0px 1px 1px 2px var(--border-color);
    background: #f7f7f7;
    border-radius: 5px;
}
#contact_form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
#contact_form div label{
    font-size: 3em;
    color: var(--txt-soft);
    margin-bottom: 10px;
}
#contact_form div input{
    height: 55px;
    width: 98%;
    padding-left: 2%;
    border: none;
    background: #ddd;
    border-radius: 5px;
    font-family: var(--cabin-sans);
}
#contact_form div p{
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 5px;
    text-align: center;
}
#contact_form div textarea{
    width: 98%;
    padding-left: 2%;
    padding-top: 20px;
    height: 200px;
    border: none;
    background: #ddd;
    border-radius: 5px;
    font-size: 3em;
    font-family: var(--cabin-sans);
}
#contact_form div button{
    width: 100%;
    height: 50px;
    background: var(--at-bg);
    font-family: var(--cabin-ver);
    border-radius: 5px;
    border: none;
    color: var(--ma-bg);
    font-size: 3em;
}

#contact_form .half{
    width: 48% !important;
}
@media (max-width: 550px) {
    #contact{
        flex-direction: column;
    }
    #contact_phone_frame{
        width: 100%;
        height: fit-content;
        padding: 50px 0;
        justify-content: center;
    }
    #contact_phone{
        max-width: 70%;
    }
    #contact_form{
        width: calc(100% - 20px);
    }
    #contact_form div{
        width: 95%;
    }
    #contact_form .half{
        width: 95% !important;
    }
}






.bob{
    animation-name: bob;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes bob {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
    
}


.pop{
    background: #222;
    border-radius: 5px;
    /* border: 1px var(--border-color) solid; */
}


.slideup{
    animation: slideup .3s 1;
}
@keyframes slideup {
    0%{
        margin-top: 100vh;
        transform: scale(0.5);
    }
    100%{
        margin-top: 0vh;
        transform: scale(1)
    }
}

.slideDown{
    animation: slidedown .3s 1;
}
@keyframes slidedown {
    0%{
        margin-top: 0vh;
        transform: scale(1)
    }
    100%{
        margin-top: 100vh;
        transform: scale(0.5);
    }
}

.fadein {
    animation: fadein 0.3s ease-in-out 1;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeout {
    animation: fadeout 0.3s ease-in-out 1;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#contactPopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    font-family: var(--cabin-sans);
}
.contactPCover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10001;
    background-color: #00000066;
}
.contactPContent{
    position: relative;
    width: calc(90% - 40px);
    max-width: 800px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #fff;
    color: #333;
    border: 2px var(--border-color) solid;
    border-radius: 8px; 
    z-index: 10002;  
}
.contactPClose{
    width: 30px;
    height: 30px;
    font-weight: 600;
    position: absolute;
    top: 10px; right: 20px;
    border-radius: 50%;
    border: none;
}
.contactPHeader{
    margin-top: 40px;
    font-size: 5em;
    margin-bottom: 20px;
    text-align: center;
}
.contactPSocials{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactPSocials header{
    font-size: 2.8em;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}
.cpsItems{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}
.cpsItem{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .2s;
}
.cpsItem:hover{
    transform: scale(1.1);
}
@media (max-width: 600px) {
    .contactPHeader{
        font-size: 4.3em;
    }
    .cpsItem{
        width: 25px;
        height: 25px;
    }
}



.contactPInputBox{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactPInputBox header{
    font-size: 2.8em;
    font-weight: 600;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}
.contactPInputBox input{
    width: 80%;
    padding: 0 3%;
    height: 35px;
}