





#hero_section{
    width: 100vw;
    height: calc(90vh - 50px);
    min-height: fit-content;
    padding-top: 50px;
    display: flex;
}

#hero_section_text{
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
}
#hero_section_text .cover{
    width: 80%;
    padding-left: 20%;
}
#hero_section_header{
    font-size: 7.5em;
    margin-bottom: 16px;
    line-height: 110%;
}
#hero_section_subheader{
    font-size: 3.5em;
    margin-bottom: 15px;
    line-height: 140%;
    font-family: var(--sans);
    color: #222;
}
#hero_section_list{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
}
#hero_section_list li{
    width: 100%;
    color: var(--txt-soft);
    list-style-type: none;
    font-size: 3.2em;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
#hero_section_list li ion-icon{
    font-size: 150%;
    margin-right: 2%;
    color: var(--at-bg);
}
#hero_section_contact{
    font-size: 3.2em;
    font-weight: 600;
    margin-top: 30px;
    font-family: var(--sans);
}

#hero_section_img{
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero_section_img_frame{
    width: 90%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
}
#hero_section_img_frame img{
    width: 50%;
    height: 50%;
}




@media (max-width: 550px) {
    #hero_section{
        flex-direction: column;
        height: fit-content;
        padding-top: 35px;
    }
    #hero_section_header{
        font-size: 7.8vw;
        line-height: 140%;
        margin-bottom: 4px;
    }
    #hero_section_subheader{
        color: #333;
        line-height: 130%;
        font-size: 3em;
        margin-bottom: 50px;
    }
    #hero_section_text{
        width: 100vw;
        padding-top: 100px; 
        height: fit-content;
        justify-content: center;
    }
    #hero_section_text .cover{
        padding-left: 0;
    }
    #hero_section_img{
        width: 100vw;
        height: 50vh;
    }
    #hero_section_contact{
        color: #333;
    }
}