#strength{
    width: 80vw;
    padding: 80px 10vw;
}
#strength .information_header{
    font-size: 2.3em;
}

#strength_frame{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.strength_item{
    width: 100%;
    display: flex;
}
.strength_item_img{
    width: 55%;
    min-height: 50vh;
    background-color: black;
}
.strength_item_text{
    width: 41%;
    padding: 20px 2%;
}

.strength_item_text header{
    font-size: 6em;
    font-weight: 600;
}