#strength{
    width: 80vw;
    padding: 80px 10vw;
}
#strength .information_header{
    font-size: 2.3em;
}

#strength_frame{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


#strength_frame_img{
    position: sticky;
    top: 100px;
    width: 40%;
    height: 80vh;
    background: var(--su-bg);
}

#strength_frame_points{
    width: 55%;
}
#strength_frame_points :last-child{
    margin-bottom: 0vh;
}

.strength_frame_point{
    width: 100%;
    height: 70vh;
    margin-bottom: 25vh;
    background-color: var(--su-bg);
}