---
title: FAQ | Jaskin Tech - Web Design and Development
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include base_head.html %}
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/content.css">
    
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://jaskin.tech/images/faq4.png">
    <meta property="og:image:alt" content="question mark in a blue circle" />
    <meta property="og:description" content="If you're getting started with us or are looking for clarification on our methods, this page will help you learn more about our services and processes">
    <meta property="og:site_name" content="Jaskin Web Development">
    <meta property="og:url" content="https://jaskin.tech/faq">
</head>
<body>
    {% include default_nav.html %}
    <main>
        <section id="hero_section">
            <div id="hero_section_text">
                <h1>How can we help?</h1>
                <h2>
                    If you're getting started with us or are looking for clarification on our methods, this page
                    will help you learn more about our services and processes.
                </h2>
                <p>
                    We aim to address your real concerns. If you didn't find the answer to your question <a href="/contact/" style="color: var(--at-bg);">Contact Us</a>.
                </p>
            </div>
            <div id="hero_section_img"><img src="/images/faq4.png" alt="question mark in a blue circle"></div>
        </section>

        <section id="content">
            <div id="faq_nav">
                <div class="item faq_nav_current" onclick="display_faq_section('development_process', this)"><p>Website Development process</p></div>
                <div class="item" onclick="display_faq_section('website_maintanance', this)"><p>Website Maintanance</p></div>
                <div class="item" onclick="display_faq_section('seo_section', this)"><p>Search Engine Optimization(SEO)</p></div>
                <div class="item" id="last_nav" onclick="display_faq_section('payments', this)"><p>Payments</p></div>
                <div class="item" id="first_nav" onclick="display_faq_section('getting_started', this)"><p>Getting started with us</p></div>
            </div>
            <div id="faq_section">
                <div class="faq_section_item faq_current" id="development_process">
                    <div class="faq_section_header"><h3>Website development process</h3></div>
                    <div class="faq_section_content">

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>How long does it take to build a website?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>An average of <strong>4 to 16 weeks</strong>(1-4 months).</p>
                                <p>
                                    The build time of a website depends on alot of factors.
                                </p>
                                <a href="/blogs/how-long-to-build-a-site">Read about factors that determines how long it takes to build a Site</a>
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Am I going to get a mock up?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p><strong>Yes</strong>. The design of your site is very important and as the owner, you will be involved in
                                    the design process with us.
                                </p>
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>How to keep track of progress</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>There will be regular communication on how things are going.</p>
                                <p>You may also have a preview version of the site where you can see real time progress and changes.</p>
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>What will you need from me?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>
                                    You the client should provide an overview of what your site is for (branding? selling products? selling services?)
                                    so that we the developers know what to build.
                                </p>
                                <p>
                                    Having some content for your site is also encouraged. Content in the form of text, images etc is great as 
                                    copywriting and graphic design are entire disciplines by themselves.
                                </p>
                                <p>
                                    Anything else will be discussed in the planning stage of your website.
                                </p>
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Can you write the text for me?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>
                                    <strong>Yes, we can</strong>. Copywriting is a skill we have available in-house and in uncertain events, 
                                    can outsource to third parties.
                                </p>
                            </div>
                        </div>
                        
                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Will you get images for me?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>
                                    General pictures from the internet will be sourced for you.
                                    Naturally too, specific pictures about your product or service would be provided by you.
                                </p>
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>How do you build my website?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>
                                    There are quite a variety of technologies out there.
                                    If you are tech savy and have a personal set of technologies you would like to use for your website,
                                    we are open to discussion.
                                </p>
                                <p>
                                    All in all, we are very open about what particular tech we will be using to build your site. The main aim
                                    is to build your site in the best way possible.
                                </p>
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Who owns the website once it's paid for?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>
                                    In short, it is your website, But I have two words for you, <strong>Legal Contract</strong>. This is a vital stage of our web development process
                                    and it clearly spells out exactly what is, and what is not.
                                </p>
                                <p>
                                    A Legal Contract does not prove a lack of trust but rather, it shows that both parties are genuie professionals
                                    that seek legitimate business.
                                </p>
                                <a href="">Read on the benefits of a Contract.</a>
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Are your designs premade templates?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>No. We build your site for you. If you have a site whoose design you admire, feel free to draw our attention to it
                                    and we would take that inspiration and add a touch of you to it.
                                </p>
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Will my website be mobile friendly?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>
                                    Of course, your site will be responsive to all devices. It would be a disaster if your site performs poorly on mobile devices or breaks on larger screens.
                                </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="faq_section_item" id="website_maintanance">
                    <div class="faq_section_header"><h3>Website Maintanance</h3></div>
                    <div class="faq_section_content">

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header></header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content"></div>
                        </div>
                    </div>
                </div>
                <div class="faq_section_item" id="seo_section">
                    <div class="faq_section_header"><h3>Search Engine Optimization</h3></div>
                    <div class="faq_section_content">
                        
                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header></header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content"></div>
                        </div>

                    </div>
                </div>
                <div class="faq_section_item" id="payments">
                    <div class="faq_section_header"><h3>Payments</h3></div>
                    <div class="faq_section_content">

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header></header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content"></div>
                        </div>

                    </div>
                </div>
                <div class="faq_section_item" id="getting_started">
                    <div class="faq_section_header"><h3>Getting started with us</h3></div>

                    <div class="faq_section_content">

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>How do we begin work on my project?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p> 
                                    We start by getting in touch - whether it's a call from you, an email (or we reach out to you before you reach out to us :) .
                                    During our initial meeting, we'll exchange greetings and delve into the specific services you're looking for.
                                </p>
                                <p>
                                    After that, we'll generally schedule a video call, using visual elements to gain a deeper understanding of your project. 
                                    This allows us to discuss crucial details such as the project's scope, depth, timeline, and pricing, ensuring a comprehensive and successful partnership.
                                </p>
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>What communication channels do we use?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>
                                    We prioritize high availability and transparency in our collaboration. 
                                    Our primary communication methods include
                                </p>
                                <ul>
                                    <li>Emails</li>
                                    <li>Instant Messaging</li>
                                    <li>Phone Calls</li>
                                    <li>Video Calls</li>
                                    <li>Social Media Platforms (If Applicable)</li>
                                </ul>
                                <p>We use the most convinent method for smooth communication.</p>
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Will we sign a formal Contract?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>
                                    In most cases, <strong>Yes</strong>. A contract serves as a formal agreement that outlines the expectations and responsibilities of both you, 
                                    the client and us, the web agency. It specifies the scope of work, deliverables, timelines, and payment terms.
                                </p>
                                <p>
                                    A well-drafted contract provides legal protection for both of us. It establishes a clear framework for our project, helping to prevent 
                                    disputes and misunderstandings.
                                </p>
                                <a href="/blogs/why-have-a-contract">Read more on why a formal contract is essential.</a>
                        
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Will I get what I really need?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>
                                    You know you need technology. <br>You need to get on the web. <br>You want the sweet boost it will give you. <br>
                                    But, you don't know what you really need and what will serve your needs.
                                </p>
                                <p>
                                    The above is a common scenario and we are here to help.
                                    Our expertise goes beyond just providing technology. We are here to understand your goals and match you with the right web solutions.
                                </p>
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Why are you so cheap?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>
                                    We know, our work is great and it may feel too good for the price, 
                                    but we prioritize high-quality web solutions at competitive rates, which we achieve through efficiency and resource management. 
                                    Our pricing ensures value, and we're open to any bonus you may want to bestow on us.
                                </p>
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Why are you so expensive?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>
                                    Thank you for your inquiry. At Jaskin Tech, we aim for excellence. Our prices may be higher, however they guarantee top-notch expertise and results that last.
                                    Our value lies in the robust, long-term solutions we provide. 
                                    We're open to discussing your needs and finding a tailored solution that aligns with your budget and goals.
                                </p>
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Where are you located?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>
                                    Although we are based in Ghana, we operate as a remote web agency, allowing our team to collaborate effectively from diverse locations. 
                                    This remote approach enables us to deliver top-notch services while offering the flexibility to work with clients worldwide.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
    {%include footer.html%}
    <script src="js/app.js"></script>
</body>
</html>