---
title: Web Development & Design Pricing - Jaskin Tech
---
<!DOCTYPE html>
<html lang="en">
<head>
    {%include base_head.html%}
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {%include default_nav.html%}

    <main>
        <section id="home">
            <div id="robot">
                <div id="dialouge">
                </div>
                <div id="answers">
                    <div id="options">
                    </div>
                    <div id="movement">
                        <div class="action_button" onclick="dialouge(-1)" style="cursor: pointer"><ion-icon name="arrow-back-outline"></ion-icon> Back</div>
                    </div>
                </div>
            </div>
            <div id="pitch">
                <header>Talk To A Real Person</header>
                <p>
                    Remember, each project is different. Prices listed here are to provide estimates. Contact us to get a proper quote based on your project.
                </p>
                <a href="/contact/" class="action_button">Contact Us</a>
                
                <section id="products">
                    <header id="products_header">Packages</header>
                    <div id="product_items">

                        <div class="item">
                            <div class="text">
                                <ion-icon name="information-circle"></ion-icon>
                                <header>Informational Website</header>
                                <p>This is the standard online presence. Get your information on the internet and boost your popularity, credibility and business.</p>
                            </div>
                            <a href="/services/web_development/informational_website/" class="action_button">Check Product</a>
                        </div>

                        <div class="item">
                            <div class="text">
                                <ion-icon name="desktop-outline"></ion-icon>
                                <header>Blog Website</header>
                                <p>Get your engine to start your content journey. Impress your audience with a beautiful website design.</p>
                            </div>
                            <a href="/services/web_development/blog_website/" class="action_button">Check Product</a>
                        </div>

                        <div class="item">
                            <div class="text">
                                <ion-icon name="cash-outline"></ion-icon>
                                <header>Commercial Website</header>
                                <p>Earn money over the internet with online payments, inventory control, coupons, tickets etc. You can also have these features integrated with your informational site.</p>
                            </div>
                            <a href="/services/web_development/commercial_website/" class="action_button">Check Product</a>
                        </div>

                    </div>
                </section>
            </div>
        </section>
    </main>


    <script src="app.js"></script>    
</body>
</html>