---
title: Web Development & Design Pricing - Jaskin Tech
---
<!DOCTYPE html>
<html lang="en">
<head>
    {%include base_head.html%}
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {%include default_nav.html%}

    <main>
        <section id="robot">
            <div id="dialouge">
                <p class="dialouge">Please Describe Yourself</p>
                <p class="sub_dialouge">Are you...</p>
            </div>
            <div id="answers">
                <div id="options">
                    <div class="option" onclick="dialouge('business')"><ion-icon name="radio-button-off"></ion-icon><p>A Business</p></div>
                    <div class="option"><ion-icon name="radio-button-off"></ion-icon><p>A Non Profit Organization (NGO)</p></div>
                    <div class="option"><ion-icon name="radio-button-off"></ion-icon><p>A Company</p></div>
                    <div class="option"><ion-icon name="radio-button-off"></ion-icon><p>An Event Or Ocassion</p></div>
                    <div class="option"><ion-icon name="radio-button-off"></ion-icon><p>A Content Creator</p></div>
                </div>
                <div id="movement">
                    <div class="action_button" onclick="dialouge(-1)" style="cursor: pointer"><ion-icon name="arrow-back-outline"></ion-icon> Back</div>
                </div>
            </div>
        </section>
        <section id="pitch">
            <header>Talk To A Real Person</header>
            <a href="/contact/" class="action_button">Contact Us</a>
            <p>
                Remember, each project is different. Prices listed here are to provide estimates. Contact us to get a proper quote based on your project.
            </p>
        </section>
    </main>


    <script src="app.js"></script>    
</body>
</html>