#home{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

#robot{
    width: 90%;
    padding: 0 5%;
    background: var(--su-bg);
    color: var(--ma-bg);
    font-family: var(--cabin-ver);
    height: calc(100vh - 70px);
    position: sticky;
    top: 70px;
}
#dialouge{
    width: 80%;
    padding: 0 10%;
    min-height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dialouge{
    font-size: 5em;
    text-align: center;
}
.sub_dialouge{
    font-size: 4em;
    margin-top: 14px;
    text-align: center;
}
#answers{
    width: 80%;
    height: fit-content;
    padding: 30px 10%;
}
#options{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}
.option{
    width: 94%;
    padding-left: 2%;
    padding-right: 3%;
    height: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: linear-gradient(22deg, #1e0e29, #1a0b24, #1d0c29, #1d0c29);
    border: 1px #27083d solid;
    margin-bottom: 10px;
    border-radius: 7px;
}
.option:hover{
    background: linear-gradient(22deg, #271534, #2a1639, #200b2f, #230c34);
}
.option p{
    width: fit-content;
    font-size: 2.6em;
    letter-spacing: 1px;
    line-height: 160%;
}
.option ion-icon{
    font-size: 5em;
    margin-right: 5%;
}
#movement{
    width: 100%;
    height: 60px;
}
#movement .action_button{
    width: 100%;
    padding: 15px 0;
}


#pitch{
    width: 94%;
    padding-left: 3%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--cabin-ver);
    padding-top: 70px;
}
#pitch header{
    font-size: 7em;
    margin-bottom: 10px;
}
#pitch p{
    margin-bottom: 15px;
    font-size: 3.2em;
    font-family: var(--cabin-ver);
    line-height: 150%;
}

@media (max-width: 800px) {
    main{
        flex-direction: column;
        height: fit-content;
    }
    #robot{
        position: relative;
        min-height: calc(100vh - 70px);
        height: fit-content;
        top: 0px;
        flex-direction: column;
        width: 90%;
        padding-top: 50px 0;
    }
    #dialouge{
        width: 90%;
        padding: 0 5%;
        display: flex;
        margin-bottom: 40px;
    }
    .dialouge{
        font-size: 4.5em;
    }
    .sub_dialouge{
        font-size: 3.6em;
    }
    #movement{
        margin-top: 20px;
    }

    #answers{
        width: 90%;
        padding: 0 5%;
        align-items: center;
    }

    #pitch{
        width: 90%;
        padding: 50px 5%;
    }
}






#products{
    width: 90%;
    padding: 50px 5%;
    font-family: var(--cabin-sans);
}
#products_header{
    padding: 20px;
    text-align: center;
    font-size: 4.5em !important;
}

#product_items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#product_items .item{
    width: 100%;
    background: var(--ma-bg-gradient);
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#product_items .item .text{
    min-height: 180px;
}
#product_items .item ion-icon{
    font-size: 8em;
    margin-bottom: 30px;
}
#product_items .item header{
    font-size: 4em;
    margin-bottom: 10px;
}
#product_items .item p{
    font-size: 3.2em;
}
#product_items .item a{
    margin-top: 20px;
}


@media (max-width: 800px) {
    #pitch{
        padding: 0;
        width: 90%;
        padding: 20px 5%;
    }
    #products{
        width: 100%;
        padding: 0;
    }
}