---
title: Alx Teemboom Presentation
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include base_head.html %}
    <link rel="stylesheet" href="main.css">
    <script src='https://teemboom.com/static/app/dist.1.0/teemboom.js'></script>
</head>
<body>
    {% include default_nav.html %}
    <main>
        <img src="/images/alx.png" alt="">
        <h1>TeemBoom Comments Presentation</h1>
        <p>
            This page is for the final ALX Portfolio Project Review for TeemBoom Comments web application.
            It is made to be a demo webpage which will be used to display the functionalities and features
            of TeemBoom Comments.
        <br><br>
            Enjoy.
        </p>
        <section id="teemboom_comments"> </section>
    </main>
</body>
</html>