---
title: Jaskin Tech - Web Design and Development in Ghana
nav_cta: Contact Us
nav_cta_url: /contact/
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include base_head.html %}
    <meta property="og:title" content="Jaskin Tech - Web Design and Development in Ghana">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://jaskintech.com/logo.png">
    <meta property="og:description" content="Create your online space with convenience and no stress. We offer the best web design & development services in Ghana">
    <meta property="og:site_name" content="Jaskin Web Development">
    <meta property="og:url" content="https://jaskintech.com">
    <link rel="stylesheet" href="css/hero_section.css">
    <link rel="stylesheet" href="css/services.css">
    <link rel="stylesheet" href="css/shop.css">
    <link rel="stylesheet" href="css/portfolio.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="css/explore.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/faq.css">
    <link rel="stylesheet" href="faq/css/content.css">
    <script src="faq/js/app.js"></script>
    <!-- netlify CMS -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
    {% include default_nav.html %}
    <main>
        <section id="hero_section">
            <div id="hero_section_text">
                <div class="cover">
                    <h1 id="hero_section_header">Get The Software Solutions You Need</h1>
                    <h2 id="hero_section_subheader">
                        You'll get websites, apps and personal systems that make your business better and life easier. <br>
                    </h2>
                    <a class="action_button" onclick="contactPopup('Get Your Software!')">Let's Talk. Get Your Software!</a>
                    <p id="hero_section_contact">Call Us &nbsp;&nbsp;(+233) 53 969 7314</p>
                </div>
            </div>
            <div id="hero_section_img">
                <div id="hero_section_img_frame">
                    <img src="images/homepage.jpeg" alt="An image of a desktop computer with a website on the screen">
                </div>
            </div>
        </section>

        <section class="svg_break">
            <div class="item">
                <div class="item_image_frame">
                    <img src="/images/icons_svg/pc_and_smartphone.svg" alt="">
                </div>
                <div class="item_text"><p>User Centric Design</p></div>
            </div>
            <div class="item">
                <div class="item_image_frame">
                    <img src="/images/icons_svg/puzzle.svg" alt="">
                </div>
                <div class="item_text"><p>Custom Solutions</p></div>
            </div>
            <div class="item">
                <div class="item_image_frame">
                    <img src="/images/icons_svg/lightbulb.svg" alt="">
                </div>
                <div class="item_text"><p>Innovativeness</p></div>
            </div>
            <div class="item">
                <div class="item_image_frame">
                    <img src="/images/icons_svg/headset.svg" alt="">
                </div>
                <div class="item_text"><p>Reliable Aid</p></div>
            </div>
        </section>

        <section id="services">
            <div id="service_web_dev" class="scroll_slider"  style="background-color: #fff;">
                <div class="scroll_slider_visual">
                    <div class="scroll_slider_visual_header">
                        <header>Our Services</header>
                    </div>
                    <div class="scroll_slider_visual_video">
                        <img src="images/businesss_software.jpeg" alt="A laptop and a Tablet">
                    </div>
                </div>
                <div class="scroll_slider_text">

                    <div class="scroll_slider_item">
                        <header>Web Development</header>
                        <p>
                            Let's build a proper online presence. Put your information on the internet and help people find you and your business.
                        </p>
                        <ul>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Portfolio Website
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                E-commerce Websites
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Blog Websites
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Business Website
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                NGO Organizations
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Other unique solutions
                            </li>
                        </ul>
                        <div class="action_button"  onclick="contactPopup('Get Your Website. Let\'s Start Building!')">Get a Website</div>
                        <a class="stm" href="">Read more technical details</a>
                    </div>

                    <div class="scroll_slider_item">
                        <header>Custom Software Applications</header>
                        <p>
                            Software built just for you to solve your needs, make work easier and help you get things done.
                        </p>
                        <ul>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Business Application Portals
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Database Design and Management
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Sales System with Mobile Money Charging
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                School Management Intranet
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Inventory Control System
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Other unique solutions
                            </li>
                        </ul>
                        <a class="action_button"  onclick="contactPopup('Do You Have An Idea? Let\'s Build It!')">Talk to Us. Free Consultation</a>
                        <a class="stm" href="">Read more technical details</a>
                    </div>

                    <div class="scroll_slider_item">
                        <header> Artificial Intelligence Technologies</header>
                        <p>
                            Use AI to handle smart tasks and build tools that work smarter for you.
                        </p>
                        <ul>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                AI Customer Service Chat bot
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Social Media Posts Generator
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Other unique solutions
                            </li>
                        </ul>
                        <a class="action_button" onclick="contactPopup('Automate Tasks. Employ A Robot')">Get your AI</a>
                        <a class="stm" href="">Read more technical details</a>
                    </div>

                </div>
            </div>
        </section>

        <div id="shop">
            <div class="shopShelf">
                <div class="shopShelfHead">
                    <header><ion-icon name="pricetags-outline"></ion-icon>Websites</header>
                </div>
                <div class="shopShelfItems">
                    <div class="shopShelfItem">
                        <div class="ssiImage"><img src="/images/website_inspiration2.jpeg" alt=""></div>
                        <header>Starter Informational Website</header>
                        <p class="ssiPrice">GHC 900 - 1,200</p>
                        <p class="ssiExeTime">Execution Time: 1 - 2 weeks</p>
                        <p class="ssiextra">Renews at GHC 300/year</p>
                    </div>
                    <div class="shopShelfItem">
                        <div class="ssiImage"><img src="images/informationalwebsite.jpeg" alt=""></div>
                        <header>Standard Informational Website</header>
                        <p class="ssiPrice">GHC 1800 - 2,200</p>
                        <p class="ssiExeTime">Execution Time: 2 - 4 weeks</p>
                        <p class="ssiextra">Renews at GHC 500/year</p>
                    </div>
                    <div class="shopShelfItem">
                        <div class="ssiImage"><img src="/images/ecommerce_shop.jpg" alt=""></div>
                        <header>E-commerce Store (Basic)</header>
                        <p class="ssiPrice">GHC 2,000 - 2,300</p>
                        <p class="ssiExeTime">Execution Time: 4 - 6 weeks</p>
                        <p class="ssiextra">Updates and Management to be discussed</p>
                    </div>
                    <div class="shopShelfItem">
                        <div class="ssiImage"><img src="/images/ecommerce_shop2.png" alt=""></div>
                        <header>E-commerce Store (Standard)</header>
                        <p class="ssiPrice">GHC 3,000 - 5,000</p>
                        <p class="ssiExeTime">Execution Time: 1 - 3 months</p>
                        <p class="ssiextra">Updates and Management to be discussed</p>
                    </div>
                    <div class="shopShelfItem">
                        <div class="ssiImage"><img src="/images/onlinecourse.jpg" alt=""></div>
                        <header>Online Course and Training Website</header>
                        <p class="ssiPrice">From GHC 3,000</p>
                        <p class="ssiExeTime">Execution Time: 1 - 3 months</p>
                        <p class="ssiextra">Updates and Management to be discussed</p>
                    </div>
                    <div class="shopShelfItem">
                        <div class="ssiImage"><img src="https://res.cloudinary.com/upwork-cloud/image/upload/c_scale,w_1000/v1694265398/catalog/1700496010274402304/zdiiphcjwjdmn2a2olrf.jpg" alt=""></div>
                        <header>Personal Portfolio Website</header>
                        <p class="ssiPrice">From GHC 1000</p>
                        <p class="ssiExeTime">Execution Time: 1 - 4 weeks</p>
                        <p class="ssiextra">Renews at GHC 300/year</p>
                    </div>
                </div>
            </div>
            <div class="shopShelf">
                <div class="shopShelfHead">
                    <header><ion-icon name="pricetags-outline"></ion-icon>Custom Software for Businesses</header>
                </div>
                <div class="shopShelfItems">
                    <div class="shopShelfItem">
                        <div class="ssiImage"><img src="https://bimpos.com/sites/default/files/images/posts/5ffdc91e-ef5f-48d0-bba0-a33ac3121705.jpeg" alt=""></div>
                        <header>Resturant Reservation and Ordering System</header>
                        <p class="ssiPrice">From GHC 2,000</p>
                        <p class="ssiExeTime">Features to be discussed</p>
                    </div>
                    <div class="shopShelfItem">
                        <div class="ssiImage"><img src="/images/pointOfSale.jpg" alt=""></div>
                        <header>Point Of Sale (POS) Software</header>
                        <p class="ssiPrice">From GHC 1,500</p>
                        <p class="ssiExeTime">Features to be discussed</p>
                    </div>
                    <div class="shopShelfItem">
                        <div class="ssiImage"><img src="/images/classcentralteachersmanagement.jpg" alt=""></div>
                        <header>School Management Intranet</header>
                        <p class="ssiPrice">From GHC 6,000</p>
                        <p class="ssiExeTime">Features to be discussed</p>
                    </div>
                    <div class="shopShelfItem">
                        <div class="ssiImage"><img src="/images/parma.jpg" alt=""></div>
                        <header>Hospital Management Software</header>
                        <p class="ssiPrice">From GHC 6,000</p>
                        <p class="ssiExeTime">Features to be discussed</p>
                    </div>
                    <div class="shopShelfItem">
                        <div class="ssiImage"><img src="https://simple-survey.transforms.svdcdn.com/production/images/Voting.png?w=480&h=500&auto=compress%2Cformat&fit=crop&crop=focalpoint&fp-x=0.5036&fp-y=0.4266&dm=1718826735&s=d52677db76fc285121844a09d4dcd86c" alt=""></div>
                        <header>Events and Contests App</header>
                        <p class="ssiPrice">From GHC 1,200</p>
                        <p class="ssiExeTime">Execution Time: 1 - 2 weeks</p>
                    </div>
                    <div class="shopShelfItem">
                        <div class="ssiImage"><img src="/images/estimate.jpg" alt=""></div>
                        <header>Construction Estimation and Budgeting Software</header>
                        <p class="ssiPrice">From GHC 700</p>
                        <p class="ssiExeTime">Execution Time: 1 - 2 weeks</p>
                    </div>
                </div>
            </div>
            <!-- <div class="shopShelf">
                <div class="shopShelfHead">
                    <header><ion-icon name="pricetags-outline"></ion-icon>Personal Software</header>
                </div>
                <div class="shopShelfItems">
                    <div class="shopShelfItem">
                        <div class="ssiImage"><img src="/images/website_inspiration2.jpeg" alt=""></div>
                        <header>Starter Business Website</header>
                        <p class="ssiPrice">GHC 900 - 1,200</p>
                        <p class="ssiExeTime">Execution Time: 1 - 2 weeks</p>
                    </div>
                    <div class="shopShelfItem">
                        <div class="ssiImage"><img src="/images/homepage.jpeg" alt=""></div>
                        <header>Starter Business Website</header>
                        <p class="ssiPrice">GHC 800 - 1,200</p>
                        <p class="ssiExeTime">Execution Time: 1 - 2 weeks</p>
                    </div>
                    <div class="shopShelfItem">
                        <div class="ssiImage"><img src="/images/homepage.jpeg" alt=""></div>
                        <header>Starter Business Website</header>
                        <p class="ssiPrice">GHC 800 - 1,200</p>
                        <p class="ssiExeTime">Execution Time: 1 - 2 weeks</p>
                    </div>
                    <div class="shopShelfItem">
                        <div class="ssiImage"><img src="/images/homepage.jpeg" alt=""></div>
                        <header>Starter Business Website</header>
                        <p class="ssiPrice">GHC 800 - 1,200</p>
                        <p class="ssiExeTime">Execution Time: 1 - 2 weeks</p>
                    </div>
                    <div class="shopShelfItem">
                        <div class="ssiImage"><img src="/images/homepage.jpeg" alt=""></div>
                        <header>Starter Business Website</header>
                        <p class="ssiPrice">GHC 800 - 1,200</p>
                        <p class="ssiExeTime">Execution Time: 1 - 2 weeks</p>
                    </div>
                    <div class="shopShelfItem">
                        <div class="ssiImage"><img src="/images/homepage.jpeg" alt=""></div>
                        <header>Starter Business Website</header>
                        <p class="ssiPrice">GHC 800 - 1,200</p>
                        <p class="ssiExeTime">Execution Time: 1 - 2 weeks</p>
                    </div>
                </div>
            </div> -->
        </div>

        <section id="portfolio">
            <div id="portfolio_header">
                <header>Our Work</header>
                <p>See how we've made our customers smile</p>
                <!-- <a href="/services/web_development/" class="action_button">See all Projects</a> -->
            </div>
            <div id="portfolio_PC">
                <div id="portfolio_PC_track_right">
                    <div id="portfolio_PC_track_left">
                        <a class="portfolio_PC_item"><img src="images/parma.jpg" alt=""></a>
                        <a target="_blank" href="https://cleanhands.jaskintech.com" class="portfolio_PC_item"><img src="images/cleanhands.jpg" alt=""></a>
                        <a class="portfolio_PC_item portfolio_PC_current"><img src="images/pointOfSale.jpg" alt=""></a>
                        <a target="_blank" href="https://sparkworld.jaskintech.com" class="portfolio_PC_item"><img src="images/afrispark.jpg" alt=""></a>
                    </div>
                </div>
                <div id="portfolio_PC_move_left" onclick="portfolio_scroll(1)"><ion-icon name="arrow-back-circle"></ion-icon></div>
                <div id="portfolio_PC_move_right" onclick="portfolio_scroll(0)"><ion-icon name="arrow-forward-circle"></ion-icon></div>
            </div>
            <div id="portfolio_MOBILE">
                <div id="portfolio_MOBILE_move_left" onclick="portfolio_scroll_mobile(1)"><ion-icon name="arrow-back-circle"></ion-icon></div>
                <div id="portfolio_MOBILE_track">
                    <div id="portfolio_MOBILE_track_right">
                        <div id="portfolio_MOBILE_track_left">
                            <a target="_blank" href="http://glorymetal.jaskintech.com" class="portfolio_MOBILE_item portfolio_PC_current"><img src="images/glory_metal_works.jpg" alt=""></a>
                            <a target="_blank" href="https://cleanhands.jaskintech.com" class="portfolio_MOBILE_item"><img src="images/cleanhands.jpg" alt=""></a>
                            <a target="_blank" href="https://sparkworld.jaskintech.com" class="portfolio_MOBILE_item"><img src="images/afrispark.jpg" alt=""></a>
                            <a target="_blank" href="https://personal.jaskintech.com" class="portfolio_MOBILE_item"><img src="images/parma.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div id="portfolio_MOBILE_move_right" onclick="portfolio_scroll_mobile(0)"><ion-icon name="arrow-forward-circle"></ion-icon></div>
            </div>
        </section>

        <!-- <section class="svg_break" style="background: #e6e5ed;">
            <div class="item">
                <div class="item_image_frame">
                    <img src="/images/icons_svg/devices.svg" alt="">
                </div>
                <div class="item_text"><p>Responsive Design</p></div>
            </div>
            <div class="item">
                <div class="item_image_frame">
                    <img src="/images/icons_svg/money.svg" alt="">
                </div>
                <div class="item_text"><p>Flexible Pricing <br> Your Budget-Your Terms</p></div>
            </div>
            <div class="item">
                <div class="item_image_frame">
                    <img src="/images/icons_svg/fast-clock.svg" alt="">
                </div>
                <div class="item_text"><p>Efficiency <br> At Warp Speed</p></div>
            </div>
            <div class="item">
                <div class="item_image_frame">
                    <img src="/images/icons_svg/public_relation.png" alt="">
                </div>
                <div class="item_text"><p>Highly Regarded <br> Clients</p></div>
            </div>
            
            
        </section> -->

        <section id="about">
            <div id="about_text">
                <div class="atgroup">
                    <span>Are You A</span>
                    <header>BUSINESS</header>
                    <p>
                        Take a look at your customers, everyone uses a smartphone! There is no way your business will not benefit from technology.
                        Something as simple as Digital Payment Software will take your business to the next level.
                    </p>
                </div>
                <div class="atgroup">
                    <span>Are You An</span>
                    <header>INSTITUTION</header>
                    <p>
                        Think about it: You manage people, processes, and resources every single day. Why are you still buried in spreadsheets and paperwork?
                        Custom software can handle everything from attendance tracking to reporting—all without that one
                        guy in the office "losing the file again." Whether it's automation, analytics, 
                        or simply keeping things running smoother, technology isn't just for businesses; 
                        it's the upgrade your institution deserves.
                    </p>
                </div>
                <div class="atgroup">
                    <span>Are You An</span>
                    <header>INDIVIDUAL</header>
                    <p>
                        Why not make life more fun and easy? Track your car, automate your lights, 
                        or even build a smart fridge that texts you when you’re out of milk. Custom software isn’t just for businesses—it’s for anyone who wants cool, useful tools to make everyday life better!
                    </p>
                </div>
            </div>
            <div id="about_img">
                <img src="images/computer4.jpeg" alt="j">
            </div>
        </section>

        <section id="contact" class="">
            <div class="information_header">
                <h3><i>C</i>ONTACT <i>U</i>S</h3>
                <h4><i>L</i>ET'S <i>S</i>TART <i>A</i> <i>D</i>ISCUSSION</h4>
            </div>
            <div id="contact_phone_frame">
                <div id="contact_phone">
                    <div id="contact_phone_cover"></div>
                    <div id="contact_phone_bezel">
                        <ion-icon name="wifi"></ion-icon>
                        <ion-icon name="cellular"></ion-icon>
                        <ion-icon name="battery-full"></ion-icon>
                        <p>99%</p>
                    </div>
                    <div id="contact_phone_buttons">
                        <div class="contact_phone_buttons_item">
                            <ion-icon name="stop-outline"></ion-icon>
                        </div>
                        <div class="contact_phone_buttons_item">
                            <ion-icon name="ellipse-outline"></ion-icon>
                        </div>
                        <div class="contact_phone_buttons_item" onclick="contact_app('close')">
                            <ion-icon name="caret-back-outline"></ion-icon>
                        </div>
                    </div>
                    <div id="phone_home" class="phone_div">
                        <div class="phone_home_item" onclick="contact_app('x', this)"><img src="images/x_icon.png" alt="X icon"></div>
                        <div class="phone_home_item" onclick="contact_app('facebook', this)"><img src="images/facebook_icon.png" alt="Fackbook icon"></div>
                        <div class="phone_home_item" onclick="contact_app('linkedin', this)"><img src="images/linkedin_icon.png" alt="Linkedin icon"></div>
                        <div class="phone_home_item" onclick="contact_app('gmail', this)"><img src="images/gmail_icon.png" alt="Gmail icon"></div>
                        <!-- <div class="phone_home_item" onclick="contact_app('phone', this)"><img src="images/phone_icon.png" alt="Phone App icon"></div> -->
                        <div class="phone_home_item" onclick="contact_app('whatsapp', this)"><img src="images/whatsapp_icon.png" alt="Whatsapp icon"></div>
                    </div>
                    <div id="contact_phone_app"></div>
                </div>
            </div>
            <form id="contact_form" action="https://api.web3forms.com/submit" onsubmit="clear_form(this)" method="POST">
                <input type="hidden" name="access_key" value="db46ff7f-97ca-47c2-acc2-f64146099bc7">
                <input type="hidden" name="from_name" value="Jaskin Tech Home">
                <input type="hidden" name="redirect" value="https://jaskintech.com/contact/success-thank_you">
                <div>
                    <label for="name">Your Name</label>
                    <input name="name" type="text" placeholder="Name" required>
                </div>
                <div class="half">
                    <label for="email">Your Email</label>
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div class="half">
                    <label for="phone_number">Your Phone Number</label>
                    <input type="text" name="phone_number" placeholder="Phone (Optional)">
                </div>
                <div style="margin-bottom: 5px;">
                    <label for="message">Your Message</label>
                    <textarea name="message" placeholder="Message us about your project. Lets talk about the requirements, time, price or examples to get started" required></textarea>
                </div>
                <div>
                    <button type="submit" >Send, We'll Answer!</button>
                </div>
            </form>
        </section>

        <section id="explore">
            <header id="explore_header">Explore</header>
            <div id="explore_items">
                {%for blog in site.blogs limit: 3%}
                <div class="explore_item">
                    <div class="explore_item_img"><img src="/images/{{blog.thumbnail}}" alt="{{blog.thumbnail_alt}}"></div>
                    <div class="explore_item_text">
                        <header>{{blog.title}}</header>
                        <p>{{blog.summary}}</p>
                        <a href="{{blog.url}}" class="action_button">Explore</a>
                    </div>
                </div>
                {%endfor%}
            </div>
        </section>
        <section id="faq">
            <header id="faq_header">Frequently Asked Questions</header>
            <div class="faq_section_content">

                <div class="faq_topic">
                    <div class="faq_topic_header">
                        <header>How long does it take to build a website?</header>
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </div>
                    <div class="faq_topic_content">
                        <p>An average of <strong>2 to 16 weeks </strong> (1-4 months).</p>
                        <p>
                            The build time of a website depends on alot of factors.
                        </p>
                        <a href="/blogs/how-long-to-build-a-site">Read about factors that determines how long it takes to build a Site</a>
                    </div>
                </div>

                <div class="faq_topic">
                    <div class="faq_topic_header">
                        <header>Am I going to get a mock up?</header>
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </div>
                    <div class="faq_topic_content">
                        <p><strong>Yes</strong>. The design of your site is very important and as the owner, you will be involved in
                            the design process with us.
                        </p>
                    </div>
                </div>

                <div class="faq_topic">
                    <div class="faq_topic_header">
                        <header>How to keep track of progress</header>
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </div>
                    <div class="faq_topic_content">
                        <p>There will be regular communication on how things are going.</p>
                        <p>You may also have a preview version of the site where you can see real time progress and changes.</p>
                    </div>
                </div>

                <div class="faq_topic">
                    <div class="faq_topic_header">
                        <header>What will you need from me?</header>
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </div>
                    <div class="faq_topic_content">
                        <p>
                            You the client should provide an overview of what your site is for (branding? selling products? selling services?)
                            so that we the developers know what to build.
                        </p>
                        <p>
                            Having some content for your site is also encouraged. Content in the form of text, images etc is great as 
                            copywriting and graphic design are entire disciplines by themselves.
                        </p>
                        <p>
                            Anything else will be discussed in the planning stage of your website.
                        </p>
                    </div>
                </div>

                <div class="faq_topic">
                    <div class="faq_topic_header">
                        <header>Can you write the text for me?</header>
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </div>
                    <div class="faq_topic_content">
                        <p>
                            <strong>Yes, we can</strong>. Copywriting is a skill we have available in-house and in uncertain events, 
                            can outsource to third parties.
                        </p>
                    </div>
                </div>
                
                <div class="faq_topic">
                    <div class="faq_topic_header">
                        <header>Will you get images for me?</header>
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </div>
                    <div class="faq_topic_content">
                        <p>
                            General pictures from the internet will be sourced for you.
                            Naturally too, specific pictures about your product or service would be provided by you.
                        </p>
                    </div>
                </div>

                <div class="faq_topic">
                    <div class="faq_topic_header">
                        <header>How do you build my website?</header>
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </div>
                    <div class="faq_topic_content">
                        <p>
                            There are quite a variety of technologies out there.
                            If you are tech savy and have a personal set of technologies you would like to use for your website,
                            we are open to discussion.
                        </p>
                        <p>
                            All in all, we are very open about what particular tech we will be using to build your site. The main aim
                            is to build your site in the best way possible.
                        </p>
                    </div>
                </div>

                <div class="faq_topic">
                    <div class="faq_topic_header">
                        <header>Who owns the website once it's paid for?</header>
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </div>
                    <div class="faq_topic_content">
                        <p>
                            In short, it is your website, But I have two words for you, <strong>Legal Contract</strong>. This is a vital stage of our web development process
                            and it clearly spells out exactly what is, and what is not.
                        </p>
                        <p>
                            A Legal Contract does not prove a lack of trust but rather, it shows that both parties are genuie professionals
                            that seek legitimate business.
                        </p>
                        <a href="">Read on the benefits of a Contract.</a>
                    </div>
                </div>

                <div class="faq_topic">
                    <div class="faq_topic_header">
                        <header>Are your designs premade templates?</header>
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </div>
                    <div class="faq_topic_content">
                        <p>No. We build your site for you. If you have a site whoose design you admire, feel free to draw our attention to it
                            and we would take that inspiration and add a touch of you to it.
                        </p>
                    </div>
                </div>

                <div class="faq_topic">
                    <div class="faq_topic_header">
                        <header>Will my website be mobile friendly?</header>
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </div>
                    <div class="faq_topic_content">
                        <p>
                            Of course, your site will be responsive to all devices. It would be a disaster if your site performs poorly on mobile devices or breaks on larger screens.
                        </p>
                    </div>
                </div>
                
            </div>
        </section>
        <div id="contactPopup">
           
        </div>
    </main>
    {% include footer.html %}
    <script src="js/contact_phone.js"></script>
    <script src="js/app.js"></script>
    <script src="js/image_slide.js"></script>
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/manager/cms/";
              });
            }
          });
        }
    </script>
</body>
</html>