---
title: Jaskin Tech - Web Design and Development
nav_cta: Get Website Price
nav_cta_url: /services/web_development/
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include base_head.html %}
    <meta property="og:title" content="Jaskin Tech - Web Design and Development in Ghana">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://jaskin.tech/logo.ico">
    <meta property="og:description" content="Create your online space with convenience and no stress. We offer the best web design & development services in Ghana">
    <meta property="og:site_name" content="Jaskin Web Development">
    <meta property="og:url" content="https://jaskin.tech">
    <link rel="stylesheet" href="css/hero_section.css">
    <link rel="stylesheet" href="css/services.css">
    <link rel="stylesheet" href="css/portfolio.css">
    <link rel="stylesheet" href="css/strength.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="css/explore.css">
    <link rel="stylesheet" href="css/footer.css">
    <!-- netlify CMS -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
    {% include default_nav.html %}
    <main>
        <section id="hero_section">
            <!-- <div id="hero_jaskin_tech">
                <i>J</i>ASKIN &nbsp;&nbsp; <i>T</i>ECH.
            </div> -->
            <div id="hero_section_text">
                <div class="cover">
                    <h1 id="hero_section_header">Get The Website <br> You Need</h1>
                    <h2 id="hero_section_subheader">
                        Join the digital revolution by leveraging the skills of
                        professionals. <br>
                    </h2>
                    <a class="action_button" href="/services/web_development/">Get Website Price</a>
                    <p id="hero_section_contact">Call Us &nbsp;&nbsp;(+233) 20 465 5978</p>
                </div>
            </div>
            <div id="hero_section_img">
                <div id="hero_section_img_frame">
                    <img src="images/homepage.jpeg" alt="An image of a desktop computer with a website on the screen">
                    <!-- <img src="images/datacenter4.jpeg" alt="A purple lit datacenter">
                    <img src="images/philosophy1.jpg" alt="A drone flying over a forest">
                    <img src="images/computer.jpeg" alt="A computer and a keyboare"> -->
                </div>
            </div>
        </section>

        <section class="svg_break">
            <div class="item">
                <div class="item_image_frame">
                    <img src="/images/icons_svg/pc_and_smartphone.svg" alt="">
                </div>
                <div class="item_text"><p>User Centric Design</p></div>
            </div>
            <div class="item">
                <div class="item_image_frame">
                    <img src="/images/icons_svg/puzzle.svg" alt="">
                </div>
                <div class="item_text"><p>Custom Solutions</p></div>
            </div>
            <div class="item">
                <div class="item_image_frame">
                    <img src="/images/icons_svg/lightbulb.svg" alt="">
                </div>
                <div class="item_text"><p>Innovativeness</p></div>
            </div>
            <div class="item">
                <div class="item_image_frame">
                    <img src="/images/icons_svg/headset.svg" alt="">
                </div>
                <div class="item_text"><p>Reliable Aid</p></div>
            </div>
        </section>

        <section id="services">
            <div id="service_web_dev" class="scroll_slider"  style="background-color: #fff;">
                <div class="scroll_slider_visual">
                    <div class="scroll_slider_visual_header">
                        <header>WEB DEVELOPMENT</header>
                    </div>
                    <div class="scroll_slider_visual_video">
                        <img src="images/businesss_software.jpeg" alt="A laptop and a Tablet">
                    </div>
                </div>
                <div class="scroll_slider_text">

                    <div class="scroll_slider_item">
                        <header>Informational Websites</header>
                        <p>
                            This is the standard online presence. Get your information on the internet and boost your popularity, credibility and business.
                        </p>
                        <ul>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Portfolio Website
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Events Website
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Website for Schools
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Website for hotels
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Small Business Website
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Corporate Website
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                And Others
                            </li>
                        </ul>
                        <a href="/services/web_development/informational_website/" class="action_button">Check Product</a>
                    </div>

                    <div class="scroll_slider_item">
                        <header>Blog Websites</header>
                        <p>
                            Get your engine to start your content journey.
                            Impress your audience with a beautiful website design 
                        </p>
                        <a href="/services/web_development/blog_website/" class="action_button">Check Product</a>
                    </div>

                    <div class="scroll_slider_item">
                        <header>Commercial Websites</header>
                        <p>
                            Earn money over the internet with online payments,
                            inventory control, coupons, tickets etc. You can also have these features
                            integrated with your informational site.
                        </p>
                        <ul>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Ecommerce Stores
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Payment Portals
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Invoicing Systems
                            </li>
                        </ul>
                        <a href="/services/web_development/commercial_website/" class="action_button">Check Product</a>
                    </div>

                </div>
            </div>
            
            <!-- <div id="service_marketing" class="scroll_slider mobile_flex_c_reverse" style="background-color: #f1f1f1;">
                <div class="scroll_slider_text">
                    <div class="scroll_slider_item">
                        <header>Search Engine Optimization</header>
                        <p>
                            Boost your site by ranking high in search engines - Google -
                            and enjoy the benefits of increased traffic to your site
                        </p>
                        <a href="/services/digital_marketing/search_engine_optimization/" class="action_button">Check Product</a>
                    </div>

                    <div class="scroll_slider_item">
                        <header>Content Marketing</header>
                        <p>
                            Advertise your brand and grow your popularity and authority with content
                            that appeals to people and gets them intrested in you. From Blogs to video content, we'll help you grow smoothly
                        </p>
                        <a href="/services/digital_marketing/content_marketing/" class="action_button">Check Product</a>
                    </div>

                    <div class="scroll_slider_item">
                        <header>Email Marketing</header>
                        <p>
                            Keep your customers engaged with direct communication via Email.
                            Automate your marketing and provide regular updates and useful knowledge
                            to your prospects
                        </p>
                        <a href="/services/digital_marketing/email_marketing/" class="action_button">Check Product</a>
                    </div>
                </div>
                <div class="scroll_slider_visual">
                    <div class="scroll_slider_visual_header">
                       <header>DIGITAL MARKETING</header>
                    </div>
                    <div class="scroll_slider_visual_video"><img src="/images/digital_marketing.jpeg" alt="charts on a computer screen"></div>
                </div>
            </div> -->
        </section>

        <section id="portfolio">
            <div id="portfolio_header">
                <header>Our Portfolio</header>
                <p>See how we've made our customers smile</p>
                <a href="/services/web_development/" class="action_button">See all Projects</a>
            </div>
            <div id="portfolio_PC">
                <div id="portfolio_PC_track_right">
                    <div id="portfolio_PC_track_left">
                        <div class="portfolio_PC_item"><img src="images/mission12.jpeg" alt=""></div>
                        <div class="portfolio_PC_item"><img src="images/website_inspiration.jpeg" alt=""></div>
                        <div class="portfolio_PC_item portfolio_PC_current"><img src="images/afrispark.jpg" alt=""></div>
                        <div class="portfolio_PC_item"><img src="images/website_inspiration2.jpeg" alt=""></div>
                        <div class="portfolio_PC_item"><img src="images/website_inspiration3.jpeg" alt=""></div>
                    </div>
                </div>
                <div id="portfolio_PC_move_left" onclick="portfolio_scroll(1)"><ion-icon name="arrow-back-circle"></ion-icon></div>
                <div id="portfolio_PC_move_right" onclick="portfolio_scroll(0)"><ion-icon name="arrow-forward-circle"></ion-icon></div>
            </div>
            <div id="portfolio_MOBILE">
                <div id="portfolio_MOBILE_move_left" onclick="portfolio_scroll_mobile(1)"><ion-icon name="arrow-back-circle"></ion-icon></div>
                <div id="portfolio_MOBILE_track">
                    <div id="portfolio_MOBILE_track_right">
                        <div id="portfolio_MOBILE_track_left">
                            <div class="portfolio_MOBILE_item"><img src="images/mission12.jpeg" alt=""></div>
                            <div class="portfolio_MOBILE_item"><img src="images/website_inspiration.jpeg" alt=""></div>
                            <div class="portfolio_MOBILE_item portfolio_PC_current"><img src="images/afrispark.jpg" alt=""></div>
                            <div class="portfolio_MOBILE_item"><img src="images/website_inspiration2.jpeg" alt=""></div>
                            <div class="portfolio_MOBILE_item"><img src="images/website_inspiration3.jpeg" alt=""></div></div>
                    </div>
                </div>
                <div id="portfolio_MOBILE_move_right" onclick="portfolio_scroll_mobile(0)"><ion-icon name="arrow-forward-circle"></ion-icon></div>
            </div>
        </section>

        <section class="svg_break" style="padding-bottom: 50px; background: #f2f2f2;">
            <!-- <div class="information_header">
                <h3><i>J</i>ASKIN <i>T</i>ECH</h3>
                <h4><i>W</i>HAT <i>M</i>AKES <i>U</i>S <i>G</i>REAT</h4>
            </div> -->
            <div class="item">
                <div class="item_image_frame">
                    <img src="/images/icons_svg/devices.svg" alt="">
                </div>
                <div class="item_text"><p>Responsive Website <br> Design</p></div>
            </div>
            <div class="item">
                <div class="item_image_frame">
                    <img src="/images/icons_svg/money.svg" alt="">
                </div>
                <div class="item_text"><p>Flexible Pricing <br> Your Budget-Your Terms</p></div>
            </div>
            <div class="item">
                <div class="item_image_frame">
                    <img src="/images/icons_svg/fast-clock.svg" alt="">
                </div>
                <div class="item_text"><p>Efficiency <br> At Warp Speed</p></div>
            </div>
            <div class="item">
                <div class="item_image_frame">
                    <img src="/images/icons_svg/public_relation.png" alt="">
                </div>
                <div class="item_text"><p>Highly Regarded <br> Clients</p></div>
            </div>
            
            
        </section>

        <section id="about">
            <div id="about_text">
                <header>Promoting the Utilization of <br> Technology</header>
                <p>
                    We are Jaskin Tech, a web development agency that believes in the power of technology and it's ability to work for you. 
                    We design, develop, and deliver websites that aren't just visually appealling, but provides you with a strong marketing engine.
                </p>
                <p>
                    Technology has been responsible for the great advancement of the human race and everyone
                    - especially businesses - would do well to adopt and utilize this tool. Technology is changing
                    alot of industries, we aim to assist people ride the wave of change as smoothly as possible. 
                </p>
                <p>
                    We aim to keep growing and expanding, both in our geographical locations and in our products and 
                    services.
                </p>
                <div id="about_action">
                    <a class="action_button" href="/services/web_development/">See All Services</a>
                </div>
            </div>
            <div id="about_img">
                <div id="about_img_frame"><img src="images/datacenter4.jpeg" alt="computers in an office"></div>
            </div>
        </section>

        <section id="contact">
            <div class="information_header">
                <h3><i>C</i>ONTACT <i>U</i>S</h3>
                <h4><i>L</i>ET'S <i>S</i>TART <i>A</i> <i>D</i>ISCUSSION</h4>
            </div>
            <div id="contact_phone_frame">
                <div id="contact_phone">
                    <div id="contact_phone_cover"></div>
                    <div id="contact_phone_bezel">
                        <ion-icon name="wifi"></ion-icon>
                        <ion-icon name="cellular"></ion-icon>
                        <ion-icon name="battery-full"></ion-icon>
                        <p>99%</p>
                    </div>
                    <div id="contact_phone_buttons">
                        <div class="contact_phone_buttons_item">
                            <ion-icon name="stop-outline"></ion-icon>
                        </div>
                        <div class="contact_phone_buttons_item">
                            <ion-icon name="ellipse-outline"></ion-icon>
                        </div>
                        <div class="contact_phone_buttons_item" onclick="contact_app('close')">
                            <ion-icon name="caret-back-outline"></ion-icon>
                        </div>
                    </div>
                    <div id="phone_home" class="phone_div">
                        <div class="phone_home_item" onclick="contact_app('x', this)"><img src="images/x_icon.png" alt="X icon"></div>
                        <div class="phone_home_item" onclick="contact_app('facebook', this)"><img src="images/facebook_icon.png" alt="Fackbook icon"></div>
                        <div class="phone_home_item" onclick="contact_app('linkedin', this)"><img src="images/linkedin_icon.png" alt="Linkedin icon"></div>
                        <div class="phone_home_item" onclick="contact_app('gmail', this)"><img src="images/gmail_icon.png" alt="Gmail icon"></div>
                        <div class="phone_home_item" onclick="contact_app('phone', this)"><img src="images/phone_icon.png" alt="Phone App icon"></div>
                        <div class="phone_home_item" onclick="contact_app('whatsapp', this)"><img src="images/whatsapp_icon.png" alt="Whatsapp icon"></div>
                    </div>
                    <div id="contact_phone_app"></div>
                </div>
            </div>
            <form id="contact_form" action="https://api.web3forms.com/submit" onsubmit="clear_form(this)" method="POST">
                <input type="hidden" name="access_key" value="db46ff7f-97ca-47c2-acc2-f64146099bc7">
                <input type="hidden" name="from_name" value="Jaskin Tech Home">
                <input type="hidden" name="redirect" value="https://jaskin.tech/contact/success-thank_you">
                <div>
                    <label for="name">Your Name</label>
                    <input name="name" type="text" placeholder="Name" required>
                </div>
                <div class="half">
                    <label for="email">Your Email</label>
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div class="half">
                    <label for="phone_number">Your Phone Number</label>
                    <input type="text" name="phone_number" placeholder="Phone (Optional)">
                </div>
                <div style="margin-bottom: 5px;">
                    <label for="message">Your Message</label>
                    <textarea name="message" placeholder="Message us about your website project. Lets talk about the requirements, time, price or examples to get started" required></textarea>
                </div>
                <div>
                    <button type="submit" >Send, We'll Answer!</button>
                </div>
            </form>
        </section>

        <section id="explore">
            <header id="explore_header">Explore</header>
            <div id="explore_items">
                {%for blog in site.blogs limit: 3%}
                <div class="explore_item">
                    <div class="explore_item_img"><img src="/images/{{blog.thumbnail}}" alt="{{blog.thumbnail_alt}}"></div>
                    <div class="explore_item_text">
                        <header>{{blog.title}}</header>
                        <a href="{{blog.url}}" class="action_button">Explore</a>
                    </div>
                </div>
                {%endfor%}
            </div>
        </section>
    </main>
    {% include footer.html %}
    <script src="js/contact_phone.js"></script>
    <script src="js/app.js"></script>
    <script src="js/image_slide.js"></script>
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/manager/cms/";
              });
            }
          });
        }
    </script>
</body>
</html>