#content{
    width: 90vw;
    padding: 20px 5vw;
    display: flex;
}

#content_groups{
    width: 20vw;
    height: fit-content;
    max-height: calc(100vh - 120px);
    position: sticky;
    top: 120px;
    border-left: 1px #c9c3c3 solid;
}

#content_groups .item{
    width: 95%;
    display: flex;
    align-items: center;
    padding: 15px 0 15px 10px;
    cursor: pointer;
}
#content_groups .item:hover{
    box-shadow: 1px 1px 1px 1px #c9c3c3;
}
#content_groups .item p{
    font-size: 3.1em;
}

#content_group_answers{
    width: 70vw;
    height: 350vh;
}

@media (max-width: 550px) {
    #content_groups{
        width: 100%;
        border-left: none;
    }
    #content_group_answers{
        display: none;
    }
    
}