#hero_section{
    width: 100vw;
    height: calc(80vh - 70px);
    padding-top: 70px;
    display: flex;
    margin-bottom: 50px;
}

#hero_lobby{
    width: 65%;
    background: var(--su-bg);
}


#hero_description{
    width: 30%;
    padding-left: 3%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--cabin-ver);
}
#hero_description header{
    font-size: 8em;
    margin-bottom: 20px;
}
#hero_description p{
    font-size: 3.5em;
    line-height: 150%;
    margin-bottom: 30px;
    color: var(--txt-soft3);
}

@media (max-width: 800px) {
    #hero_section{
        flex-direction: column;
        height: fit-content;
    }
    #hero_lobby{
        width: 100%;
        height: 60vh;
    }
    #hero_description{
        width: 80%;
        padding-top: 25px;
        padding-left: 9%;
    }
}



#content1{
    width: 80%;
    padding: 10px 10%;
    padding-bottom: 50px;
    margin: 0 auto;
    font-family: var(--cabin-ver);
}
#content1_header header{
    width: 100%;
    text-align: center;
    font-size: 7em;
    margin-bottom: 20px;
    font-family: var(--cabin-ver);
}
#content1_header p{
    font-size: 3.4em;
    line-height: 160%;
    color: var(--txt-color4);
    margin-bottom: 10px;
}
#content1_header ul{
    color: var(--txt-color3);
}
#content1_header ul li{
    padding: 5px 0;
    list-style: none;
    font-size: 3em;
    display: flex;
    align-items: center;
}
#content1_header ul li ion-icon{
    color: var(--at-bg);
    margin-right: 10px;
}

@media (max-width: 800px) {
    #content1{
        width: 80%;
        padding: 50px 10%;
    }
}



.content{
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    font-family: var(--cabin-ver);
}
.content_header{
    width: 100%;
    padding: 25px 0;
    font-size: 6em;
    margin-bottom: 20px;
    text-align: center;
}
.content_img{
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
}
.content_text{
    width: 40%;
    padding: 30px 5%;
}

.content_text p{
    font-size: 3.4em;
    line-height: 160%;
    color: var(--txt-color3);
    margin-bottom: 10px;
}
.content_text_a{
    font-size: 2.8em;
    color: var(--at-bg);
    line-height: 130%;
}
.content_text .action_button{
    font-size: 2.3em;
    font-family: var(--cabin-ver);
}

@media (max-width: 600px) {
    .content{
        flex-direction: column;
    }
    .content_img{
        width: 100%;
    }
    .content_text{
        width: 90%;
    }
    #hs{
        order: 1;
    }
}