---
title: Blogs Home | Jaskin Tech Website Development in Ghana
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include base_head.html %}
    <link rel="stylesheet" href="style.css">
    <script src="app.js" defer></script>
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://jaskin.tech/images/pen2.jpg">
    <meta property="og:image:alt" content="a pen on a table" />
    <meta property="og:description" content=" Step into the digital playground of our blog—where creativity swings, innovation slides, and success is the ultimate game. Let's learn and win together!">
    <meta property="og:site_name" content="Jaskin Web Development">
    <meta property="og:url" content="https://jaskin.tech/blog">
    <script src='http://teemboom.com/static/app/dist.1.0/teemboom.js' defer > </script>
</head>
<body>
    {% include default_nav.html %}
    <main>
        <section id="hero_section">
            <div id="hero_section_text">
                <h1>Our Blogs</h1>
                <h2>
                    Step into the digital playground of our blog—where creativity swings, innovation slides, and success is the ultimate game. Let's learn and win together!
                </h2>
            </div>
            <div id="hero_section_img"><img src="/images/pen2.jpg" alt="a pen on a table"></div>
        </section>
        <section id="search">
            <div id="search_box">
                <input type="text" placeholder="Search for blog title or author">
                <button onclick="search()"><ion-icon name="search-outline"></ion-icon></button>
            </div>
        </section>
        <section id="blogs">
            <div id="results">
                {% for blog in site.blogs %}
                <div class="results_item">
                    <div class="results_item_img"><img src="/images/{{blog.thumbnail}}" alt="{{blog.thumbnail_alt}}"></div>
                    <div class="results_item_text">
                        <header>{{blog.title}}</header>
                        <p>{{blog.summary}}</p>
                    </div>
                    <a href="{{blog.url}}" class="action_button">Read</a>
                </div>
                {%endfor%}
                <section id="teemboom_comments"></section>
            </div>
            <div id="featured">
                <header id="featured_header">Featured Posts</header>
                {%for blog in site.blogs%}
                <a href="{{blog.url}}" class="featured_item">
                    <div class="featured_item_img"><img src="/images/{{blog.thumbnail}}" alt="{{blog.thumbnail_alt}}"></div>
                    <div class="featured_item_text">
                        <header>{{blog.title}}</header>
                    </div>
                </a>
                {%endfor%}
            </div>
        </section>
    </main>

    
    <div id="hidden" style="display: none;">
    {%for blog in site.blogs%}
        <p data-title="{{blog.title}}" data-img="{{blog.thumbnail}}" data-author="{{blog.author}}" data-url="{{blog.url}}" data-summary="{{blog.summary}}"></p>
    {%endfor%}
    </div>
    
    {% include footer.html %}
</body>
</html>