---
title: Commercial Websites | Jaskin Tech - Web Design and Development
nav_cta: Start Your Project
nav_cta_url: start_project/
---
<!DOCTYPE html>
<html lang="en">
<head>
    {%include base_head.html%}
    <link rel="stylesheet" href="style.css">
    <meta name="robots" content="noindex">
</head>
<body>
    {%include default_nav.html%}
    <main>
        <section class="hero" style="background: url(/images/laptop17.jpg) no-repeat;">
            <div class="hero_text">
                <h1>Get Your Commercial Website</h1>
                <p>Let's create a site that sells - simple, sleek and just for you</p>
                <a href="start_project/" class="action_button">Start Your Project</a>
            </div>
        </section>

        <section class="shelve">
            <div class="shelve_header">
                <header>Featured</header>
                <p>See More <ion-icon name="chevron-forward-circle-outline"></ion-icon></p>
            </div>
            <div class="shelve_content">
                <div class="shelve_item">
                    <ion-icon name="cart-outline"></ion-icon>
                    <p>Add to Cart</p>
                </div>
                <div class="shelve_item">
                    <ion-icon name="cart-outline"></ion-icon>
                    <p>Add to Cart</p>
                </div>
                <div class="shelve_item hide">
                    <ion-icon name="cart-outline"></ion-icon>
                    <p>Add to Cart</p>
                </div>
            </div>
        </section>

        <section class="hero" style="background-color: var(--su-bg);">
            <div class="hero_text" style="color: #fff !important;">
                <h1>Take Your Business To The Next Level</h1>
                <p>Let the world shop with you</p>
                <a href="" class="action_button">Start Your Project</a>
            </div>
        </section>

        <section class="shelve" >
            <div class="shelve_header">
                <header>Popular</header>
                <p>See More <ion-icon name="chevron-forward-circle-outline"></ion-icon></p>
            </div>
            <div class="shelve_content">
                <div class="shelve_item">
                    <ion-icon name="cart-outline"></ion-icon>
                    <p>Add to Cart</p>
                </div>
                <div class="shelve_item">
                    <ion-icon name="cart-outline"></ion-icon>
                    <p>Add to Cart</p>
                </div>
                <div class="shelve_item hide">
                    <ion-icon name="cart-outline"></ion-icon>
                    <p>Add to Cart</p>
                </div>
            </div>
        </section>

        <section class="hero">
            <div class="hero_text">
                <h1>Start Small - Grow Big</h1>
                <p>Get a website that can grow as your business grows</p>
                <a href="" class="action_button">Start Your Project</a>
            </div>
        </section>

        <section class="shelve">
            <div class="shelve_header">
                <header>Classics</header>
                <p>See More <ion-icon name="chevron-forward-circle-outline"></ion-icon></p>
            </div>
            <div class="shelve_content">
                <div class="shelve_item">
                    <ion-icon name="cart-outline"></ion-icon>
                    <p>Add to Cart</p>
                </div>
                <div class="shelve_item">
                    <ion-icon name="cart-outline"></ion-icon>
                    <p>Add to Cart</p>
                </div>
                <div class="shelve_item hide">
                    <ion-icon name="cart-outline"></ion-icon>
                    <p>Add to Cart</p>
                </div>
            </div>
        </section>
    </main>

    {%include footer.html%}

    
</body>
</html>