#hero_section{
    width: 100vw;
    height: calc(80vh - 70px);
    padding-top: 70px;
    display: flex;
    margin-bottom: 50px;
}

#hero_lobby{
    width: 65%;
    background: var(--su-bg);
}


#hero_description{
    width: 30%;
    padding-left: 3%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--cabin-ver);
}
#hero_description header{
    font-size: 8em;
    margin-bottom: 20px;
}
#hero_description p{
    font-size: 3.5em;
    line-height: 150%;
    margin-bottom: 30px;
    color: var(--txt-soft3);
}

@media (max-width: 800px) {
    #hero_section{
        flex-direction: column;
        height: fit-content;
    }
    #hero_lobby{
        width: 100%;
        height: 60vh;
    }
    #hero_description{
        width: 80%;
        padding-top: 25px;
        padding-left: 9%;
    }
}






















.pitch{
    width: 30em;
    font-size: 3.5em;
    font-weight: 400;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    color: var(--txt-soft);
}

.section_header{
    width: 100%;
    text-align: center;
    padding: 50px 0;
    font-size: 6em;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: var(--cabin-ver);
    color: #141414;
}
.product{
    width: 28%;
    padding: 0 2%;
    height: 80vh;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #999;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product .product_header{
    width: 100%;
    padding: 20px 0 10px 0;
    font-family: var(--mons);
    font-size: 5.5em;
    font-weight: 600;
    text-align: center;
    color: var(--txt-soft3);
}
.product_subheader{
    font-size: 3.1em;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--txt-soft3);
}
.product_subheader2{
    font-size: 3.4em;
    text-align: center;
    line-height: 160%;
    color: var(--txt-soft);
}
.product_price{
    width: 100%;
    text-align: center;
    font-family: var(--cam);
    margin-top: 50px;
}
.product_price_h{
    font-size: 3.2em;
    font-weight: 600;
    margin-bottom: 5px;
}
.product_price_p{
    font-size: 2.9em;
    color: var(--txt-soft);
    line-height: 170%;

}
.product_price_amount{
    padding: 20px 0;
    font-size: 9em;
    color: var(--at-bg);
}

.bronze{
    background-color: #a52a2a11;
}
.silver{
    background: #c0c0c022;
}
.gold{
    background: #ffd70022;
}




@media (max-width: 550px) {
    .pitch{
        width: 80%;
    }
    .product{
        width: 100%;
        margin-bottom: 15px;
    }
    .section_header{
        font-size: 4em;
    }
}