---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {%include blog_head.html %}
    {%include blog_font_family_choice.txt%}
</head>
<body>
    {%include blog_nav.html%}
    <div id="page">
        <main>
            <div id="main_img"><img src="/images/{{page.thumbnail}}" alt="{{page.main_img_alt}}"></div>
            <div id="blog_header">
                <h1>{{page.title}}</h1>
            </div>
            <div class="blog_summary">
                <p>{{page.summary}}</p>
            </div>
            {% if page.table_of_contents %}
            <div id="table_of_contents">
                <header>Table of Contents</header>
                <ul>
                    {% for item in page.table_of_contents %}
                    <li><a href="#{{item.link}}">{{item.text}}</a></li>
                    {%endfor%}
                </ul>
            </div>
            {%endif%}
            <section id="blog_content">
                {{content}}
            </section>
        </main>
        <div id="menu">
            <div class="menu_item" onclick="toggle_side_menu()">
                <p></p>
                <ion-icon name="close"></ion-icon>
            </div>
            <a href="/blogs/" class="menu_item">
                <p>Home</p>
                <ion-icon name="home-outline"></ion-icon>
            </a>
            <div class="menu_item_group">
                <div class="main">
                    <p>Settings</p>
                    <ion-icon name="settings-outline"></ion-icon>
                </div>
                <div class="item" onclick="light_dark(this)">
                    <p>Dark mode</p>
                    <ion-icon name="moon-outline"></ion-icon>
                </div>
                <div class="item" onclick="auto_scroll_page(this)">
                    <p>Auto Scroll</p>
                    <ion-icon name="play-circle-outline"></ion-icon>
                </div>
            </div>
            <div class="menu_item_list">
                <p>More articles</p>
                <ul>
                    {%for blog in site.blogs%}
                    {%if blog.url != page.url%}
                    <li><a href="{{blog.url}}">{{blog.title}}</a></li>
                    {%endif%}
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
    <div id="explore">
        <header id="explore_header">Explore</header>
        <div id="explore_items">
            {%for blog in site.blogs limit: 3%}
            {% if blog.url != page.url %}
            <div class="explore_item">
                <div class="explore_item_img"><img src="/images/{{blog.thumbnail}}" alt="{{blog.thumbnail_alt}}"></div>
                <div class="explore_item_text">
                    <header>{{blog.title}}</header>
                    <a href="{{blog.url}}" class="action_button">Explore</a>
                </div>
            </div>
            {% endif %}
            {%endfor%}
        </div>
    </div>
    {%include footer.html%}
</body>
</html>